body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.underline {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.mountain-img {
  position: relative;
}

.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.computer-img{
  width:30%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.chillies-img{
  width:30%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
